@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --normal-font-size: 0.875rem;
    --text-color:#011C34;
    --green: rgba(46, 196, 182, 0.04);
}

/* font-family: "Outfit", sans-serif; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Lato', sans-serif; */

body {
    background-color: var(--green);
    margin: 0 auto;
}

section {
    display: flex;
    padding: 5rem 8.75rem;
    gap: 7.5rem;
}

/* Header Styles */

header {
    width: 28.188rem;
    position: relative;
    top: 8.81rem;
}

img {
    position: relative;
    left: -10px;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #000B0A;
    margin-top: 3.12rem;
    margin-bottom: 1.25rem;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-weight: 700;
}

header p {
    color: #737373;
    font-family:  "Outfit", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5625rem;
}

.mobile-paragraph { 
    display: none;
}

/* Main(Form) Styles */
main {
    width: 36.25rem;
    border-radius: 0.375rem;
    background: #FFF;
    box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.10);
    padding: 2.5rem;
    font-family: 'Lato', sans-serif;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
}

label {
    display: block;
    color:var(--text-color);
    font-family: 'lato', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.00625rem;
    margin-bottom: 0.625rem;
}

select {
    color: #737373;
}

[type="text"], 
select,
[type="date"] {
    width: 14.875rem;
    border: 2px solid #F0F0F0;
    padding: 0.87rem 0.25rem 0.87rem 1rem;
}

[name="activity-level"], 
[type="password"] {
    width: 31.25rem;
    border: 2px solid #F0F0F0;
    padding: 0.87rem 0.25rem 0.87rem 1rem;
}

.password {
    position: relative;
}

.password img {
    position: absolute;
    top: 2.5rem;
    left: 30rem;
    color: #A6A6A6;
}

button {
    width: 31.25rem;
    border: 0;
    padding: 0.87rem 0.25rem 0.87rem 1rem;
    background-color: #2EC4B6;
    color: #FFF;
    font-size: 16px;
    margin-top: 1.88rem;
}

.main-terms-of-use {
    color: #000;
    font-size: var(--normal-font-size);
    font-weight: 400;
    margin-left: 2.188rem;
}

.main-terms-of-use a {
    color: #2EC4B6;
    font-size: 0.875rem;
    font-weight: 500;
    text-decoration-line: underline;
}

.mobile-terms-of-use {
    display: none;
}